* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    background: #0C98BE;

}

body {
    max-height: 600px;
    font-family: inter;

}

.pic {
    background-image: url(./img/Rectangle\ 41.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;


}



.form-control {
    border: 1px solid black;
}

.btn-bod {
    border: 1px solid black;
}

h5 {

    font-size: 24px;
}

@media(max-width:768px) {

    .pic,
    .pc2 {
        width: 100%;
    }

}